@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Pixelify+Sans:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: rgb(25, 51, 90);
  --main-colour: rgb(74, 160, 200);
  --sec-colour: rgb(6, 68, 105);
  --ter-colour: rgb(208, 215, 225);
}

body {
  width: 100vw;
  position: relative;
  background-color: var(--background);
  color: var(--ter-colour);
  font-family: "Fredoka", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

/* common styling */
button {
  height: 3rem;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  background-color: var(--main-colour);
  color: var(--background);
  transition: 0.3s;
  border: none;
}

button:hover {
  background-color: var(--ter-colour);
  scale: 1.1;
  transition: 0.3s;
}

/* header section */
header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
font-size: 4rem;
font-weight: 300;
}

/* content section */
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 90vh;
}

.gameInit {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.gameActive {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.gameActive.hidden,
.gameInit.hidden {
    visibility: hidden;
    pointer-events: none;
}

.gridContainer > div {
  background-color: var(--ter-colour);
  border-radius: 0.25rem;
}

.gridContainer > div:hover {
  background-color: var(--sec-colour);
}

/* footer section */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  height: 3rem;
  gap: 1rem;
}

.footerLink:link {
  color: var(--ter-colour);
}

.footerLink:hover {
  color: var(--main-colour);
}

.footerLink:visited {
  color: var(--ter-colour);
}

.footerLink:visited:hover {
  color: var(--main-colour);
}

.footerLink > svg {
  height: 2rem;
}
